.main {
	padding: 20px;
	margin-top: 2rem;
	border: 1px solid #f8f9fa;
	width: 70%;
	box-shadow: 0px 0px 30px 1px rgba(167, 167, 167, 0.5);
}
.payment > div {
	margin: 30px 0 30px 0;
}
.validity > .form-select {
	width: 10%;
	display: inline;
}
.card-number {
	width: 34%;
}
.validity > .CVV {
	margin-left: 30px;
	display: inline;
	width: 10%;
}
.online-section > input,
.cash-section > input {
	margin-top: 6.8px;
}
.online-section > label,
.cash-section > label {
	letter-spacing: 1.3px;
	font-size: large;
	font-weight: 600;
}

.online-detail {
	margin-top: 10px;
	margin-left: 30px;
}
.online-detail label {
	margin-bottom: 10px;
	font-weight: 300;
	letter-spacing: 1.3px;
}
#payment-message {
	margin: auto;
	margin-top: 80px;
	padding: 10px;
}
.success {
	background-color: #2bad2b;
	/* background-color: #2ec52e; */
}
.fail {
	background-color: #ff2020;
}
span {
	color: whitesmoke;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
	border-radius: 5px;
	width: 20vw;
}
footer {
	height: 100px;
	width: 100%;
}
